*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ant-carousel .slick-slide {
  text-align: center;
}

.ant-carousel .slick-slide div {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__genres-list {
  width: 100%;
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.catalog__genres-link {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  max-width: 100%;
  white-space: nowrap;
}

.catalog__genres-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  list-style-type: none;
  padding: 20px;
  scroll-snap-align: center;
  margin: 0 10px;
}

.catalog__genres-list::-webkit-scrollbar {
  display: none;
}

.catalog__genres-item--active .catalog__genres-link {
  font-weight: bold;
  color: rgb(233, 180, 110);
}