.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  margin: 2vw;
  gap: 4vw;
}

.ant-card {
  background-color: transparent;
  border: 1px solid rgb(233,180,110);
}

.ant-card-meta-title {
  color: rgb(233,180,110) !important;
  text-align: center;
}