.cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.title-card{
  width:auto;
}
.title-card-img {
  width: 30vh;
  height: 50vh;
}