.cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.film-card{
  width:auto;
}
.film-card-img {
  width: calc(50vh - 20px);
  height: calc(70vh - 10px);
}