* {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: aliceblue;
}
.current-film-container {
  display: grid;
  grid-template-areas: 
    'B B B B  B B B B  B B B B'
    'C C C C  E E E E  F F F F'
    'D D D D  E E E E  F F F F'
    'D D D D  E E E E  F F F F';
  gap: 20px;
  background-image: url('../images/background-image.jpg');
}

.current-film-name {
  grid-area: C;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  
}

.current-film-poster {
  width: 100%;
  border: 10px solid aliceblue;
  border-radius: 40px;
  grid-area: F;
}
.current-film-nav {
  grid-area: B;
  text-align: center;
}

.current-film-nav button {
  width: 200px;
  height: 50px;
  background-color: rgb(34, 34, 34);
  margin: 5px;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 20px;
}

.current-film-nav button:hover {
  background-color: black;
}

.current-info {
  grid-area: D;
}

.rating-container {
  display: grid;
  grid-template-columns: 40px 40px;
  text-align: center;
  place-items: center;
}

.rating img {
  width: 30px;
  height: 30px;
}

.film-person-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.film-person-inner-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  place-items: center;
}

.film-person-image {
  width: 25%
}

.description {
  font-size: 30px;
  text-align: center;
}

.description-container {
  display: grid;
  grid-template-rows: 40px 1fr;
}

.description-text {
  line-height: 1.25;
}
.current-film-button--active {
  color: aqua;
}