* {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: aliceblue;
  /* border: 2px solid blue; */
}

:root {
  --color: rgb(233, 180, 110); 
  --transition: transform 1.5s ease, opacity 1.5s ease;
  --opacityZero: 0;
  --opacityOne: 1;
  --translateXZero: translateX(0);
  --translateXMinHundred: translateX(-100%);
  --translateXPlusHundred: translateX(100%);
  --translateYZero: translateY(0);
  --translateYPlusHundred: translateY(100%);
  --translateYMinHundred: translateY(100%);
}

.current-title-container {
  display: grid;
  grid-template-areas: 
    'B B B B  B B B B  B B B B'
    'C C C C  G G G G  F F F F'
    'D D D D  E E E E  F F F F'
    'D D D D  E E E E  F F F F';
  gap: 20px;
  background-image: url('../images/background-image.jpg');
  /* height: 100vh; */
}

.current-title-name-container {
  grid-area: C;
  text-align: center;
  font-size: 30px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.current-title-name, .current-title-alternative-name {
  transition: transform .5s ease;
  color: var(--color);
}
.current-title-name-transform {
  transform:
    translate( 50px, 50px)
    scale(1.2);
}

.current-title-poster-container{
  grid-area: F;
  position: relative;
  overflow: hidden;
}

.current-title-poster {
  width: 100%;
  border: 10px solid aliceblue;
  border-radius: 40px;
  transform: var(--translateYPlusHundred);
  opacity: var(--opacityZero);
  transition: var(--transition);
}

.current-title-poster.showFromDown {
  opacity: var(--opacityOne);
  transform: var(--translateYZero);
}

.current-title-nav {
  grid-area: B;
  justify-content: center;
}

.nav-ul{
  list-style-type:none;
  display: flex;
  justify-content: center;
}
.nav-ul li{
  display: inline;
}

.current-title-button-container {
  justify-self: center;
}


.current-title-nav button {
  font-size: 1.2em;
  width: 250px;
  height: 50px;
  margin: 10px 5px 5px 5px;
  color:rgb(72, 72, 72);
  background-color: transparent;
  border: none;
  transition: font-size 0.5s ease
}


.current-title-button-container--active {
  border: 2px solid rgb(33, 33, 33);
  border-radius: 20px;
  background-color: rgb(33, 33, 33);
}

.current-title-nav button:hover {
  color:rgb(255, 255, 255);
  font-size: 1.4em;
}

.current-info {
  grid-area: D;
}

.rating {
  grid-area: E;
  transform: var(--translateXPlusHundred);
  opacity: var(--opacityZero);
  transition: var(--transition);
}

.rating.showFromTop {
  opacity: var(--opacityOne);
  transform: var(--translateXZero);
}



.rating-container {
  display: grid;
  grid-template-columns: 40px 40px;
  text-align: center;
  place-items: center;
}

.rating img {
  width: 30px;
  height: 30px;
}

.title-person-container {
  width: 60vh;
  grid-area: F;
}

.title-person-inner-container {
  list-style-type:none;
  margin-left: 20px;
  width: 20vh;
}

.title-person-image {
  width: 25%
}

.description {
  font-size: 30px;
  text-align: center;
  color: var(--color);
}

.description-container {
  display: grid;
  grid-template-rows: 40px 1fr;
  transform: var(--translateXMinHundred);
  opacity: var(--opacityZero);
  transition: var(--transition);
}

.description-container.showFromLeft {
  opacity: var(--opacityOne);
  transform: var(--translateXZero);
}

.description-text {
  line-height: 1.25;
}

.current-info-genre {
  display: flex;
  align-items: center;
  gap: 10px;
}

.current-info-genre div {
  color: var(--color);
  margin: 0;
}
.person-proffesion {
  color: var(--color);
}

.current-title-alternative-name {
  grid-area: C;
}

.watchability {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
