.title-big-container {
  background-image: url('../images/background-image.jpg');
  height: fit-content;
}

.current-title-container {
  min-height: 50vh;
}

.nav-ul{
  list-style-type:none;
  display: flex;
  justify-content: center;
}

.about-container, .details-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.about-section-info, .details-section-info {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.about-section-poster, .details-title-person-container {
  width: 40%;
}

.current-title-name-container {
  margin: var(--margin-text);
  font-size: 30px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
}

.rating-year-genre-countries_container {
  display: flex;
  margin: var(--margin-text);
  flex-direction: row;
  gap: 10px;
}

.rating-votes {
  margin: var(--margin-text);
}

.rating-container {
  display: flex;
  flex-direction: row;
}

.rating-container img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.rating-year-genre-countries_container, .current-info {
  width: 100%;
  flex-wrap: wrap;
}
.rating-year-genre-countries_container.showFromRight {
  opacity: var(--opacityOne);
  transform: var(--translateXZero);
}

.rating-year-genre-countries_container{
  transform: var(--translateXPlusHundred);
  opacity: var(--opacityZero);
  transition: var(--transition);
}

.current-title-poster-container{
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.description-text {
  line-height: 1.25;
}

.current-info{
  margin: var(--margin-text)
}

.watchability {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: start;
  margin: var(--margin-text)
}

.title-person-container {
  margin: var(--margin-text)
}

.title-person-inner-container {
  list-style-type:none;
  margin-left: 20px;
  width: 20vh;
}

.title-details-hero-description {
  color: rgb(144, 118, 53);
}

.details-title-person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role-markup-container {
  width: 100%;
}


.person-proffesion {
  color: var(--color);
  gap: 10px;
}

.title-person-image {
  width: 100%;
  max-width: 200px;
  height: 50%;
  max-height: 400px;
  object-fit: cover;
  border:1px;
  border-radius: 20px;
  position: sticky;
  top: 10vh;

}

.description-container {
  transform: var(--translateXMinHundred);
  opacity: var(--opacityZero);
  transition: var(--transition);
  position: relative;
}

.description-container.showFromLeft {
  opacity: var(--opacityOne);
  transform: var(--translateXZero);
}

.current-title-poster {
  position: absolute;
  right: 0;
  height: 100%;
  width: auto;
  object-fit: cover;
  transform: var(--translateXPlusHundred);
  opacity: var(--opacityZero);
  transition: var(--transition);
}

.current-title-poster.showFromRight {
  opacity: var(--opacityOne);
  transform: var(--translateXZero);
}

.current-title-name, .current-title-alternative-name {
  color: var(--color);
}

.nav-ul li{
  text-align: center;
}

.current-title-nav button {
  font-size: 1.2em;
  width: 250px;
  height: 50px;
  margin: 10px 5px 5px 5px;
  color:rgb(72, 72, 72);
  background-color: transparent;
  border: none;
  transition: font-size 0.5s ease;
}

.current-title-button-container--active {
  border: 2px solid rgb(33, 33, 33);
  border-radius: 20px;
  background-color: rgb(33, 33, 33);
}

.current-title-nav button:hover {
  color:rgb(255, 255, 255);
  font-size: 1.3em;
}

.show-more-persons {
  margin-top: 20px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: rgb(33, 33, 33);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  /* border: 2px solid red; */
  height: fit-content;
  display: flex;
  z-index: 2;
  background-color: black;
  flex-wrap: wrap;
  width: 100%;
}

.profession {
  font-size: 25px;
  color: var(--color);
}

.person-proffesion {
  display: flex;
  flex-wrap: wrap;
}

.person-profession-container {
  margin-top: 10px;
}
