.btn-container {
  width: 100%;
  height: 100px;
  position: relative;
}
.show-more {
  position: absolute;
  left: 50%;
  top: 50%;
  justify-content: center;
  transform: translate(-50%,-50%);
  border: 5px solid blue;
  border-radius: 10px;
}

.show-more-hidden {
  visibility: hidden;
}
